<form action="/teams/edit/{{team._id}}" method="POST">

  <div class="container">
    <div class="form-group col-md-4">
      <label for="name"> Nombre Equipo:</label>
      <input type="text" class="form-control" id="name" name="name" value={{team.name}}>

    </div>

    <div class="form-group col-md-4">
      <label for="date"> Fecha Fundacion:</label>
      <input type="date" class="form-control" id="date" name="date_f" value={{team.date_f}}>

    </div>


    <div class="form-group col-md-4">
      <label for="category"> Categoria:</label>
      <select name="category">
        
        {{#each categories}}
       
        <option value={{name}}>{{name}}</option>
          {{/each}}
      </select>
      


    </div>

    <div class="form-group col-md-4">
      <label for="president"> Presidente:</label>
      <input type="text" class="form-control" id="president" name="president" value={{team.president}}>

    </div>

    <div class="form-group col-md-4">
      <label for="email"> Correo Equipo:</label>
      <input type="mail" class="form-control" id="email" name="email" value={{team.email}}>

    </div>

    <div class="form-group col-md-4">
      <label for="phone"> Telefono:</label>
      <input type="number" class="form-control" id="phone" name="phone" value={{team.phone}}>

    </div>

    <div class="form-group col-md-4">
      <textarea name="description" id="description">{{team.description}}</textarea>
    </div>


    <div class="form-group col-md-4">
      <button type="submit" class="btn btn-primary">Actualizar Equipo</button>
    </div>

  </div>

</form>
